* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* width: 100%; */
    /* height: 100%; */
    background: #192a32;
}

button {
    background-color: lightgray;
    padding: 5px;
    /* position: fixed; */
}

.container {
    height: 90vh;
    /* width: 100vw; */
    display: grid;
    grid-template-columns: 70px 70px 70px;
    grid-template-rows: 70px 70px 70px;

    grid-gap: 10px;

    justify-content: center;
    align-content: center;
}

.container > div {
    background-color: #3d6a81;
    border-radius: 05px;
}